{% extends "base/base.html" %}



{% block body %}



<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    {% for ad in ads %}
    <div class="carousel-item active">
      <img src="{{ad.image.url}}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container m-auto my-4 text-center">
  <div class="alert alert-info" role="alert">
    Some Recommended Posts by your Rapports
  </div>
</div>


<div class="container">
  <div class="row">
    {% for post in posts %}
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img src="{{post.image.url}}" class="card-img-top" alt="Card image" />
        <div class="card-body">
          <h5 class="card-title">by <a href="{% url 'profile_view' post.user.pk %}">{{post.user.name}}</a></h5>
          <p class="card-text">
            {{post.bio}}
          </p>
          <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read Post</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}