{% extends "base/base.html" %}
{% load static %}





{% block body %}

{% include "base/message.html" %}
{{requests.count}} pending requests
{% for rapport_request in requests %}
<div class="alert alert-primary" role="alert">

    You have a Rapport Request from {{rapport_request.by_user.name}}
    {% if rapport_request.subject %}
        <p>{{rapport_request.subject}}</p>
    {% endif %}
    <a href="{% url 'accept_rapport' rapport_request.pk %}"><button type="button" class="btn btn-success">Accept</button></a>
    <a href="{% url 'reject_rapport' rapport_request.pk %}"><button type="button" class="btn btn-danger">Reject</button></a>
</div>
{% endfor %}

{% endblock body %}


